.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.content{
  width: 100%;
  max-width: 300px;
  margin: 30px;
  background: #FFF;
  border-radius: 4px;
  padding: 20px;

  align-items: center;
  text-align: center;
}

.titulo {
  font-size: 28px;
  color: #FFF;
}

.subtitulo {
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 12px;
}

.button-login {
  width: 100%;
  background: #0075BB;
  color: #FFF;
}

.link-voltar {
  padding: 20px;
  font-size: 14px;
}
a, a:hover, a:active {
  text-decoration: none;
  list-style: none;
  color: black;
}

mat-form-field {
  width: 100%;
}
