<div class="container">
  <div class="titulo">
    <span>StationOne</span>
  </div>
  <div class="content">

    <div class="subtitulo">
      <span>Digite seu email que nos enviaremos uma nova senha</span>
    </div>

    <form action="">
      <mat-form-field appearance="outline">
        <mat-label>Email address</mat-label>
        <input matInput type="text">
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>

      <button class="button-login" type="submit" mat-button mat-raised-button >
        Reset password
      </button>

    </form>
    <div class="link-voltar">
        <a routerLink="/">Log in</a>
    </div>
  </div>
  <div>
    <span>© 2019 StationOne  - Vesion 1.0.0</span>
  </div>
</div>

<!-- <mat-form-field appearance="outline">
            <mat-label>email</mat-label>
            <input
                matInput
                type="text"
            >
        </mat-form-field>

        material-icons -->
